services:
  openwebui:
    container_name: $NAME
    image: ghcr.io/open-webui/open-webui:main
    restart: unless-stopped
    networks:
      - traefik
    ports:
      - 3030:8080
    volumes:
      - ~/open-webui:/app/backend/data
    environment:
      - WEBUI_URL=https://$URL
      - OPENAI_API_BASE_URL=https://llm.arranhs.com
      # Login
      - ENABLE_LOGIN_FORM=false
      - ENABLE_SIGNUP=false
      - ENABLE_OAUTH_SIGNUP=true
      - DEFAULT_USER_ROLE=pending
      # Auth
      - OPENID_PROVIDER_URL=https://accounts.google.com/.well-known/openid-configuration
      - OAUTH_UPDATE_PICTURE_ON_LOGIN=true
      - JWT_EXPIRES_IN=1w
      # Config
      - ENABLE_WEB_SEARCH=true
      - WEB_SEARCH_ENGINE=duckduckgo
      - ENABLE_EVALUATION_ARENA_MODELS=false
      # Persistence
      - ENABLE_PERSISTENT_CONFIG=false
      - ENABLE_OAUTH_PERSISTENT_CONFIG=false
    env_file:
      # Sensitive keys in .env.secrets:
      # - WEBUI_SECRET_KEY
      # - OPENAI_API_KEY
      # - GOOGLE_CLIENT_ID
      # - GOOGLE_CLIENT_SECRET
      - .env.secrets
    labels:
      - traefik.enable=true
      - traefik.http.routers.$NAME.rule=Host(`$URL`)
networks:
  traefik:
    external: true
