services:
  sonarr:
    container_name: $NAME
    image: linuxserver/sonarr:latest
    restart: unless-stopped
    networks:
      - traefik
    ports:
      - 8989:8989
    volumes:
      - ~/sonarr:/config
      - ~/Seagate/Downloads/TV Shows:/tv
      - ~/Seagate/Torrents:/downloads
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    labels:
      - traefik.enable=true
      - traefik.http.routers.$NAME.rule=Host(`$URL`)
      - traefik.http.routers.$NAME.middlewares=$NAME
      - traefik.http.middlewares.$NAME.basicAuth.usersfile=/auth/.${NAME}passwd
networks:
  traefik:
    external: true
