services:
  maybe:
    container_name: $NAME
    image: ghcr.io/maybe-finance/maybe:latest
    restart: unless-stopped
    networks:
      - postgres
      - traefik
    ports:
      - 3131:3000
    volumes:
      - ~/maybe:/rails/storage
    env_file:
      # Set in .env.secrets:
      # - SECRET_KEY_BASE
      - .env.secrets
    environment:
      SELF_HOSTED: "true"
      GOOD_JOB_EXECUTION_MODE: async
      DB_HOST: postgres
      POSTGRES_DB: maybe
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      RAILS_FORCE_SSL: "false"
      RAILS_ASSUME_SSL: "false"
    labels:
      - traefik.enable=true
      - traefik.http.routers.$NAME.rule=Host(`$URL`)
      - traefik.http.routers.$NAME.middlewares=oauth
networks:
  postgres:
    external: true
  traefik:
    external: true
x-dockge:
  urls:
    - https://$URL
