services:
  litellm:
    container_name: $NAME
    image: ghcr.io/berriai/litellm:main-stable
    restart: unless-stopped
    networks:
      - traefik
      - ollama
    ports:
      - 4000:4000
    volumes:
      - ~/litellm/config.yaml:/app/config.yaml:ro
    env_file:
      # Set in .env.secrets:
      # - LITELLM_MASTER_KEY
      # - LITELLM_SALT_KEY
      # - CEREBRAS_API_KEY
      # - OLLAMA_API_KEY
      # - GROQ_API_KEY
      # - HUGGINGFACE_API_KEY
      # - OPENROUTER_API_KEY
      # - TOGETHER_AI_API_KEY
      - .env.secrets
    labels:
      - traefik.enable=true
      - traefik.http.routers.$NAME.rule=Host(`$URL`)
    command:
      - --config=/app/config.yaml
networks:
  traefik:
    external: true
  ollama:
    external: true
