services:
  filebrowser:
    container_name: $NAME
    image: filebrowser/filebrowser:latest
    restart: unless-stopped
    networks:
      - traefik
    ports:
      - 8090:80
    volumes:
      - ~/filebrowser:/config
      - ~:/files
    environment:
      - FB_PORT=80
      - FB_CONFIG=/config/config.json
      - FB_DATABASE=/config/database.db
      - FB_ROOT=/files
    user: 1000:1000
    labels:
      - traefik.enable=true
      - traefik.http.routers.$NAME.rule=Host(`$URL`)
networks:
  traefik:
    external: true
x-dockge:
  urls:
    - https://$URL
