services:
  radarr:
    container_name: $NAME
    image: linuxserver/radarr:latest
    restart: unless-stopped
    networks:
      - traefik
    ports:
      - 7878:7878
    volumes:
      - ~/radarr:/config
      - ~/Seagate/Downloads/Films:/movies
      - ~/Seagate/Torrents:/downloads
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    labels:
      - traefik.enable=true
      - traefik.http.routers.$NAME.rule=Host(`$URL`)
      - traefik.http.routers.$NAME.middlewares=$NAME
      - traefik.http.middlewares.$NAME.basicAuth.usersfile=/auth/.$NAMEpasswd
networks:
  traefik:
    external: true
