services:
  jellystat:
    container_name: $NAME
    image: cyfershepard/jellystat:latest
    restart: unless-stopped
    networks:
      - postgres
      - traefik
    ports:
      - 3434:3000
    volumes:
      - ~/jellystat:/app/backend/backup-data
    env_file:
      # Set in .env.secrets:
      # - JWT_SECRET
      - .env.secrets
    environment:
      - POSTGRES_IP=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    labels:
      - traefik.enable=true
      - traefik.http.routers.$NAME.rule=Host(`$URL`)
      - traefik.http.routers.$NAME.middlewares=oauth
networks:
  postgres:
    external: true
  traefik:
    external: true
