services:
  kitchenowl:
    container_name: $NAME
    image: tombursch/kitchenowl:latest
    restart: unless-stopped
    networks:
      - traefik
    ports:
      - 2323:8080
    volumes:
      - ~/kitchenowl:/data
    labels:
      - traefik.enable=true
      - traefik.http.routers.$NAME.rule=Host(`$URL`)
      - traefik.http.routers.$NAME.middlewares=oauth
    env_file:
      - .env.secrets
networks:
  traefik:
    external: true
