########################################################
# bazarr
#
# Create password:
# htpasswd -c ~/traefik/auth/.bazarrpasswd arranhs
########################################################
services:
  bazarr:
    container_name: $NAME
    image: linuxserver/bazarr:latest
    restart: unless-stopped
    networks:
      - traefik
    ports:
      - 6767:6767
    volumes:
      - ~/bazarr:/config
      - ~/Seagate/Downloads/Films:/movies
      - ~/Seagate/Downloads/TV Shows:/tv
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    labels:
      - traefik.enable=true
      - traefik.http.routers.$NAME.rule=Host(`$URL`)
      - traefik.http.routers.$NAME.middlewares=$NAME
      - traefik.http.middlewares.$NAME.basicAuth.usersfile=/auth/.$NAMEpasswd
networks:
  traefik:
    external: true
x-dockge:
  urls:
    - https://$URL
