services:
  t4g:
    container_name: ${NAME}
    image: arranhs/t4g-feed:develop
    restart: unless-stopped
    networks:
      - traefik
    ports:
      - 5656:5656
    labels:
      - traefik.enable=true
      - traefik.http.routers.${NAME}.rule=Host(`${URL}`)
      - traefik.http.routers.${NAME}.middlewares=remove-trailing-slash
      - traefik.http.middlewares.remove-trailing-slash.redirectRegex.regex=^(.*)/$
      - traefik.http.middlewares.remove-trailing-slash.redirectRegex.replacement=$1
networks:
  traefik:
    external: true
x-dockge:
  urls:
    - https://${URL}/london
