services:
  flaresolverr:
    container_name: flaresolverr
    image: ghcr.io/flaresolverr/flaresolverr:latest
    restart: unless-stopped
    network_mode: bridge
    ports:
      - 8191:8191
    environment:
      - LOG_LEVEL=info
networks: {}
