services:
  dockge:
    container_name: $NAME
    image: louislam/dockge:latest
    restart: unless-stopped
    networks:
      - traefik
    ports:
      - 5001:5001
    volumes:
      - ~/dockge:/app/data
      - ~/docker:/opt/stacks
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - HOME=$HOME
    labels:
      - traefik.enable=true
      - traefik.http.routers.$NAME.rule=Host(`$URL`)
      - traefik.http.routers.$NAME.middlewares=oauth
networks:
  traefik:
    external: true
